<ion-header [translucent]="true">
  <ion-toolbar color="duoc-blue">
    <ion-title>genera</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

    <div class="h-4/5 flex flex-col justify-center items-center m-2.5">

      <div class="w-full">
        <ion-title class="font-bold text-2xl">Código QR</ion-title>
      </div>

      <ion-card class="w-full border-2 rounded flex justify-center">
        <img [src]="imagenUrl" alt="Mi Imagen" >
      </ion-card>

      <ion-button (click)="backPage()" type="submit" color="duoc-yellow" class="w-full font-bold text-black rounded shadow-md">
        VOLVER
      </ion-button>

    </div>

</ion-content>
