<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>genera</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">genera</ion-title>
    </ion-toolbar>
  </ion-header>

 
  <img [src]="imagenUrl" alt="Mi Imagen" class="mx-auto my-4 max-w-xs absolute top-0 mt-36">
     
  <button (click)="backPage()"type="submit" class="w-full bg-yellow-500 hover:bg-yellow-600 focus:ring-4 focus:outline-none focus:ring-yellow-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-yellow-400 dark:hover:bg-yellow-500 dark:focus:ring-yellow-600">
    <p>Volver</p>
  </button>


</ion-content>
