<ion-header [translucent]="true">
  <ion-toolbar color="duoc-blue">
    <ion-title>vista-profesor</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-row>

    <ion-col sizeLg="6" sizeMd="6" sizeXs="12" *ngFor="let ramo of asig">

      <ion-card>
        <a (click)="asislist()" ><img src="../../assets/imag/{{ramo.image}}" class="w-full" ></a>
        <div class="card-tittle ml-2">
          <h3 class="pb-1.5">{{ramo.seccion}}</h3>
          <h1 class="pb-1.5">{{ramo.hora}}</h1>
          <h2>{{ramo.cantidad}}</h2>
        </div>
      </ion-card>

    </ion-col>

   </ion-row>

</ion-content>
