<ion-item class="custom-input border-blue-950 border-b-2" lines="none">
  <ion-icon color="primary" *ngIf="icon" slot="start" [name]="icon"></ion-icon>

  <ion-input
    class="font-bold"
  [type]="type"
  [autocomplete]="autocomplete"
  [label]="label"
  [formControl]="control"
  label-placement="floating"
  ></ion-input>

  <ion-button *ngIf="isPassword" (click)="showOrHidePassword()" slot="end" fill="clear" shape="round">
    <ion-icon slot="icon-only" [name]="hide ? 'eye-outline' : 'eye-off-outline'"></ion-icon>
  </ion-button>
</ion-item>
