.cuadro{
  background-color: var(--ion-color-duoc-blue)
}
.text-white {
  color: white;
}
.validators{
  color: var(--ion-color-danger);
}
a{
  color: var(--ion-color-duoc-blue)
}
.submit{
  background-color: var(--ion-color-duoc-yellow);
}
