<ion-header [translucent]="true">
  <ion-toolbar color="duoc-blue">
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- CREO EL FORMULARIO DE INICIO DE SESION -->
  <div class="flex justify-center items-center h-screen">

    <div class="border-login w-96 border-2 py-8 px-2 rounded-md shadow-md">

      <div class="flex items-center justify-center mb-4">
        <ion-title class="text-center">Iniciar Sesión</ion-title>
      </div>

      <ion-input label="Usuario" label-placement="floating" [(ngModel)]="user.usuario" fill="outline" placeholder=""></ion-input>

      <div class="mt-4">
        <ion-input type="password" label="Contraseña" label-placement="floating" [(ngModel)]="user.password" fill="outline" placeholder=""></ion-input>
      </div>

      <ion-row class="mt-4">
        <ion-col>
          <ion-button (click)="iniciarSesion()" color="primary" expand="block" [routerLink]="['/home']">Iniciar</ion-button>
        </ion-col>
      </ion-row>

    </div>
  </div>
</ion-content>
