<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>detalle</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="flex flex-col justify-center items-center">

      <div class="w-full max-w-sm space-y-2.5">

        <ion-card>

          <div class="card-tittle ml-2 pt-1.5">
            <h1>VIERNES, 30 de AGOSTO 8:00 a 10:50</h1>
            <h2>PROGRAMACIÓN DE APLICACIONES MÓVILES</h2>
            <h3>PGY4121-003D</h3>
            <h4>Sala: Laboratorio de computación 4 (LC4)</h4>
            <h4>N°Estudiantes:25 Estudiantes</h4>
            <h4>Asistencia:</h4>
            <h4>Sede: VIÑA DEL MAR</h4>
          </div>

        </ion-card>

        <button (click)="asislist()"type="submit" class="w-full bg-yellow-500 hover:bg-yellow-600 focus:ring-4 focus:outline-none focus:ring-yellow-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-yellow-400 dark:hover:bg-yellow-500 dark:focus:ring-yellow-600">
          <p class="font-bold">Generar QR</p>
        </button>

        <button (click)="backPage()"type="submit" class="w-full bg-yellow-500 hover:bg-yellow-600 focus:ring-4 focus:outline-none focus:ring-yellow-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-yellow-400 dark:hover:bg-yellow-500 dark:focus:ring-yellow-600">
          <p class="font-bold">Volver</p>
        </button>

      </div>

    </div>

</ion-content>
