<ion-header [translucent]="true">
  <ion-toolbar color="duoc-blue">
    <ion-title>detalle</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="h-4/5 flex flex-col items-center justify-center m-2.5">

      <div class="w-full">
        <ion-title class="font-bold text-2xl">Detalle Asignatura</ion-title>
      </div>

      <ion-card class="card-tittle border shadow-md w-full">
        <ion-card-content>
        <h1>VIERNES, 30 de AGOSTO 8:00 a 10:50</h1>
        <h2>PROGRAMACIÓN DE APLICACIONES MÓVILES</h2>
        <h3>PGY4121-003D</h3>
        <h4>Sala: Laboratorio de computación 4 (LC4)</h4>
        <h4>N°Estudiantes:25 Estudiantes</h4>
        <h4>Asistencia:</h4>
        <h4>Sede: VIÑA DEL MAR</h4>
        </ion-card-content>
      </ion-card>

      <ion-button (click)="asislist()" color="duoc-yellow" class="w-full font-bold text-black rounded shadow-md">
        GENERAR QR
      </ion-button>

      <ion-button (click)="backPage()" color="duoc-yellow" class="w-full font-bold text-black rounded shadow-md">
        VOLVER
      </ion-button>

  </div>

</ion-content>
