<ion-header [translucent]="true">
  <ion-toolbar color="duoc-blue">
    <ion-title>asislist</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button> <!-- Agregamos el botón de hamburguesa del menú lateral -->
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">



  <div class="border-2 p-2 m-2.5 rounded h-1/2 shadow-lg">

    <ion-list>

      <ion-item>
        <ion-label>VIERNES, 30 de AGOSTO de 2023</ion-label>
        <ion-note slot="end">Presente</ion-note>
      </ion-item>

      <ion-item>
        <ion-label class="ausente">VIERNES, 30 de AGOSTO de 2023</ion-label>
        <ion-note class="ausente" slot="end">Ausente</ion-note>
      </ion-item>

      <ion-item>
        <ion-label>VIERNES, 30 de AGOSTO de 2023</ion-label>
        <ion-note slot="end">Presente</ion-note>
      </ion-item>

      <ion-item>
        <ion-label class="ausente">VIERNES, 30 de AGOSTO de 2023</ion-label>
        <ion-note class="ausente" slot="end">Ausente</ion-note>
      </ion-item>

      <ion-item>
        <ion-label class="ausente">VIERNES, 30 de AGOSTO de 2023</ion-label>
        <ion-note class="ausente" slot="end">Ausente</ion-note>
      </ion-item>

    </ion-list>

  </div>



  <div class="m-2.5">
    <ion-button
      expand="block"
      color="duoc-yellow"
      class="boton w-full font-bold text-black rounded shadow-md"
      (click)="startScan()">
      Scan
    </ion-button>

    <ion-button (click)="backPage()" color="duoc-yellow" class="boton w-full shadow-lg font-bold text-black rounded">VOLVER</ion-button>
  </div>

</ion-content>
