<ion-header [translucent]="true">
  <ion-toolbar color="duoc-blue">
    <ion-title>asislist</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button> <!-- Agregamos el botón de hamburguesa del menú lateral -->
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">



  <div class="border-2 p-2 m-2.5 rounded h-1/2 shadow-lg">

    <ion-list>

      <ion-item *ngFor="let result of scannedResult">
        <ion-label>{{ result }}</ion-label>

      </ion-item>
    </ion-list>

  </div>



  <div class="m-2.5">
    <ion-button (click)="backPage()" color="duoc-yellow" class="boton w-full shadow-lg font-bold text-black rounded">VOLVER</ion-button>
  </div>

</ion-content>
