<ion-header [translucent]="true">
  <ion-toolbar color="duoc-blue">
    <ion-title>home</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button> <!-- Agregamos el botón de hamburguesa del menú lateral -->
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="container flex justify-between">

    <div>
      <ion-title  *ngIf="nombreUsuario">Bienvenido, {{ nombreUsuario }}.</ion-title>
    </div>

    <div>
      <ion-title>Fecha</ion-title>
    </div>

  </div>

  <div>
    <ion-card >

      <ion-card-header>

        <ion-card-title>Card Title</ion-card-title>
        <ion-card-subtitle>Card Subtitle</ion-card-subtitle>

      </ion-card-header>

      <ion-card-content>
        Here's a small text description for the card content. Nothing more, nothing less.
      </ion-card-content>

    </ion-card>

  </div>




</ion-content>
